#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:1000px;
}

.square {
    border: 1px solid;
    box-sizing: border-box;  /* border box to include the width in measuremeants */
}

/* Display flex on outer to make them rows instead of columns */
.outer {
    display: flex;
}

#big {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 10px;
    width: 300px;
    height: 50px;
}

